.DS_Store
*.pyc

scripts/controllers/*
scripts/HW*/*
scripts/planners/P1_astar.py
scripts/controllers/P1_differential_flatness.py
scripts/controllers/P2_pose_stabilization.py
scripts/controllers/P3_trajectory_tracking.py
scripts/controllers/P4_optimal_control.py
scripts/**/*_soln.py

bagfiles/*
launch/project/P4project.launch
launch/project/P5project.launch
launch/project/P6project.launch
launch/project/P6project_switch.launch
launch/project/project
launch/project/project_bkup.launch
launch/project/project_slow.launch
launch/project/project_switch.launch
launch/project/switch.launch
launch/project/switch2.launch
launch/project/switch_abi.launch
launch/project/switch_topic.launch
models/myimage/*
rviz/project_test.rviz
scripts/P2switch.py
scripts/bkupwaypts.txt
scripts/bot_commander.py
scripts/detectors/detector_db.py
scripts/firstwaypt.txt
scripts/keyboard_teleop_new.py
scripts/marker_pub1.py
scripts/navigator_abi.py
scripts/navigator_abi.py.bk
scripts/navigator_new.py
scripts/switch.py
scripts/switch_abi.py
scripts/totalcircuit.txt
world/3ss_1bowl.world
world/3ss_1bowl_1cyl.world
world/backup.world
world/ball_bowl_table.world
world/ball_bowl_trash_table.world
world/banana.jpeg
world/box.world
world/final_project_world/
world/mouse_tv_bowl_ss.world
world/mouse_tv_bowl_tl_ss.world
